<h1>Home Page</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'Affiliate Orgs', affiliate_orgs_path %>
<%= link_to 'Video', videos_path %>
<%= link_to 'Announcements', announcements_path %>